@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Poppins', sans-serif;
  }
}
::selection {
  background-color: #ff515a;
  color: white;
}
::-webkit-scrollbar {
  /* background-color: transparent;
  width: 10px;
  overflow: hidden; */
  display: none;
}
::-webkit-scrollbar-thumb {
  background-color: #ff515a;
  border-radius: 34rem;
}
a.active {
  color: #ff515a;
}