@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Poppins', sans-serif;
  }
}
::selection {
  @apply bg-mainColor text-white;
}
::-webkit-scrollbar {
  /* background-color: transparent;
  width: 10px;
  overflow: hidden; */
  display: none;
}
::-webkit-scrollbar-thumb {
  @apply bg-mainColor;
  border-radius: 34rem;
}
a.active {
  @apply text-mainColor;
}